<a href="https://colab.research.google.com/github/davidmarchenko/Box-Office-Model/blob/main/Wikipedia_PageView_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install pageviewapi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pageviewapi in /usr/local/lib/python3.7/dist-packages (0.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pageviewapi) (2.23.0)
Requirement already satisfied: attrdict in /usr/local/lib/python3.7/dist-packages (from pageviewapi) (2.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from attrdict->pageviewapi) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pageviewapi) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pageviewapi) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pageviewapi) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pageviewapi) (2022.9.24)

In [22]:
import pageviewapi
import pandas as pd
from datetime import datetime

In [39]:
title_list = ['She-Hulk: Attorney At Law', 'Moon Knight']
title_dfs = pd.DataFrame()
for x in title_list :
    title_dict = pageviewapi.per_article('en.wikipedia', x, '20220101', '20221020',
                        access='all-access', agent='user', granularity='daily')
    title_df = pd.DataFrame(title_dict['items'])[['timestamp','views']]
    title_df['Title'] = x
    title_dfs = title_dfs.append(title_df)

In [40]:
title_dfs

      timestamp  views                      Title
0    2022051700    324  She-Hulk: Attorney At Law
1    2022051800    115  She-Hulk: Attorney At Law
2    2022051900     26  She-Hulk: Attorney At Law
3    2022052000     13  She-Hulk: Attorney At Law
4    2022052100      4  She-Hulk: Attorney At Law
..          ...    ...                        ...
288  2022101600   3294                Moon Knight
289  2022101700   2996                Moon Knight
290  2022101800   2797                Moon Knight
291  2022101900   2678                Moon Knight
292  2022102000   2940                Moon Knight

[402 rows x 3 columns]

In [36]:
title_dfs.timestamp = title_dfs.timestamp.apply(lambda x: datetime.strptime(x[:-2], '%Y%m%d').date())